@font-face {
    font-family: "Mario Party Hudson";
    src: local("Mario Party Hudson"), url("Mario-Party-Hudson-Font.ttf") format("truetype");
}

@font-face {
    font-family: "Pop Happiness";
    src: local("FOT-PopHappiness Std EB"), url("./PopHappiness.ttf") format("truetype");
}

@font-face {
    font-family: "Pop Fun";
    src: local("PopJoyStd-B"), url("./PopJoy.otf") format("opentype");
}

body {
    margin: auto;
    color: white;
    font-family: "Mario Party Hudson", sans-serif;
    font-size: 24px;
    letter-spacing: -2px;
    text-shadow: 1px 2px 1px black;
    -webkit-text-stroke: 1.5px black;
}

.spread {
    font-family: "Pop Fun", sans-serif;
    letter-spacing: 0px;
    color: black;
    text-shadow: 0px 0px 0px black;
    -webkit-text-stroke: 0px black;
    text-align: center;
    font-weight: 500;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

table {
    width: 100%;
    table-layout: fixed;
}

    table td {
        white-space: nowrap;
        position: relative;
    }

        table td a {
            position: absolute;
            top: 40%;
            left: 50%;
            text-align: right;
        }

.levelcount {
    transform: translate(.5em, .5em);
}

#level {
    transform: translate(.2em, 0%);
}

#coins {
    transform: translate(.2em, 0%);
}

#starpoints {
    transform: translate(.2em, 0%);
}


#ran_away {
    transform: translate(.4em, 0%);
}

#conditions {
    transform: translate(.4em, 0%);
}

#total_coins {
    transform: translate(.4em, 0em);
}

#total_items {
    transform: translate(.4em, 0em);
}

#fp_used {
    transform: translate(.4em, 0em);
}

#sp_used {
    transform: translate(.4em, 0em);
}

#superguards {
    transform: translate(.4em, 0%);
}

#player_damage {
    transform: translate(.4em, 0%);
}

#enemy_damage {
    transform: translate(.4em, 0%);
}

.wrapper {
    position: relative;
    height: 3em;
}

    .wrapper .info_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 2em;
        z-index: -500;
    }

    .wrapper .party_member {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 2.5em;
        z-index: -500;
    }

    .wrapper .shine1 {
        position: relative;
        top: 85%;
        left: 50%;
        transform: translate(-100%, -0%);
        height: 1em;
        filter: drop-shadow(1px 1px 1px black);
    }

    .wrapper .shine2 {
        position: relative;
        top: 85%;
        left: 50%;
        transform: translate(-100%, -0%);
        height: 1em;
        filter: drop-shadow(1px 1px 1px black);
    }
